<!-- La view listar tweet -->
<section data-ng-init="vm.find()">
	<h1>Tweets</h1>
	<ul  class="list-group">
		<!-- La lista de artículos -->
		<li class="list-group-item" data-ng-repeat="tweet in vm.tweets">
			<h3 data-ng-bind="tweet.user"></h3>
            <p data-ng-bind="tweet.mensaje"></p>
			<small data-ng-bind="tweet.timestamp | date:'medium'"></small>
            </br>

            <p data-ng-show="vm.isOwner(tweet.user)">
                <a href="/#!/tweets/[[tweet.id]]/edit">Editar</a>
                <a href="javascript:void(0);" data-ng-click="vm.delete(tweet);">Borrar</a>
            </p>
		</li>
	</ul>
</section>