  <!-- compressed tags is created by Django Pipeline.  -->
  {% load pipeline %}
<!DOCTYPE html>
<html ng-app="application">
<head lang="en">
    <meta charset="UTF-8">
    <title>Tweet Crud</title>
    <!-- Include CSS files -->
    {% stylesheet 'styles' %}


</head>
<body>
<div ng-include="'static/templates/nav.html'" ng-controller="NavController as vm"></div>
<div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <section ng-view></section>
      </div>
      <div class="col-md-4"></div>
    </div>
</div>

<div ng-include="'static/templates/footer.html'"></div>
<!-- Include JavaScript files bower -->
{% javascript 'libraries' %}

</body>
</html>